body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

a {
    color: #555;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: none;
}

ol,
ul,
li {
    list-style: none;
}

table {
    border-collapse: collapse;
}

html {
    overflow-y: scroll;
}

a:hover {
    color: #cd0200;
    text-decoration: underline
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

.hide {
    display: none;
}

.fr {
    float: right !important;
}

.fl {
    float: left !important;
}

body {
    margin: 0;
    position: relative;
    img {
        content: normal !important;
    }
    * {
        font-size: 32px;
        padding: 0;
        margin: 0;
        border-color: #dddddd !important;
    }
    font-family:'\5FAE\8F6F\96C5\9ED1';
    font-family:'Microsoft YaHei';
    color: #282828;
    width: 100%;
    padding: 0;
    margin: 0;
    .bold {
        font-weight: bold;
    }
    .flex {
        display: flex;
    }
    .clearfix:after {
        content: "020";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    .clearfix {
        /* 触发 hasLayout */
        zoom: 1;
    }
    .body-pd {
        padding-left: 20px;
        padding-right: 20px;
    }
    font-size: 36px;
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        color: inherit;
        &:focus {
            outline: none;
        }
        &:active {
            color: inherit;
        }
        &:hover {
            text-decoration: none;
        }
    }
    .redtitle {
        font-size: 30px;
        padding-top: 60px;
        display: flex;
        align-items: center;
        padding-bottom: 22px;
        &::before {
            content: "  ";
            display: inline-block;
            margin-right: 20px;
            width: 7px;
            height: 35px;
            background-color: @red;
        }
    }
    .btn-default {
        border-radius: 10px;
        border: none;
        font-size: 35px;
        color: #fff;
        letter-spacing: 5px;
        &:active,
        &:focus {
            border: none;
        }
    }
    .btn-can {
        background-color: #bfc7d4;
    }
    .btn-next {
        background-color: #3ba6de;
    }
}

@text-indent: 45px;
@width : 20px;
@app-top: 31px;
@red: #d6141a;
html,
body,
#app {
    height: 100%;
    position: static; // orientation: pow(landscape) // orientation：portrait | landscape
}

// @media screen and (orientation:portrait) {
//     body {
//         transform-origin: 0 0;
//         transform: rotateZ(90deg) translateY(-100%);
//     }
// }
#app {
    text-align: left !important;
}

input,
button {
    outline: none;
}

button {
    border: none;
    letter-spacing: 5px;
}

.m-t-60 {
    margin-top: 60px;
}

.m-t-100 {
    margin-top: 100px;
}

.icon {
    display: block;
}

//  上传 图标
.icon-shangchuan {
    width: 48px;
    height: 33px;
    background: url(../assets/shangchuan.png) no-repeat;
    background-size: 100%;
}

//  上传 图标
.icon-daochu {
    width: 48px;
    height: 30px;
    background: url(../assets/daochu.png) no-repeat;
    background-size: 100%;
}

//  shanchu  图标
.icon-shanchu {
    width: 41px;
    height: 41px;
    background: url(../assets/shanchu.png) no-repeat;
    background-size: 100%;
}

//单选 图标
.icon.radio {
    width: 30px;
    height: 30px; 
    background: url(../assets/111.png) no-repeat;
    background-size: 100%;
}

.icon.radio.active { 
    background: url(../assets/222.png) no-repeat;
    background-size: 100%;
}

//日历 图标
.icon.rili {
    width: 48px;
    height: 48px;
    background: url(../assets/rili.png) no-repeat;
    background-size: 100%;
}

//更多 图标
.icon.more {
    background: url(../assets/more.png);
    width: 21px;
    height: 34px;
    background-size: 100%;
}

//清除 图标
.icon.clear {
    background: url(../assets/clear.png);
    width: 44px;
    height: 44px;
    background-size: 100%;
}

.icon.arrow {
    background: url(../assets/arrow.png);
}

//
//
.icon.close {
    background: url(../assets/close.png) no-repeat 100% 100%;
    width: 32px;
    height: 32px;
    background-size: 100%;
}

/*蓝色弹窗背景*/

.blue-bg {
    width: 65%;
    border-radius: 20px;
    box-shadow: -1px 1px 30px #ababab;
    background: -webkit-linear-gradient(left top, #88d7f7, #00a6e7);
    background: -o-linear-gradient(bottom right, #88d7f7, #00a6e7);
    background: -moz-linear-gradient(bottom right, #88d7f7, #00a6e7);
    background: linear-gradient(to bottom right, #88d7f7, #00a6e7);
    margin: 0 auto;
    margin-top: 100px;
}

/*蓝色背景上的输入框*/

.inputs {
    width: 68%;
    margin: 0 auto; // height: 100px;
    ul {
        li {
            background: #fff;
            height: 105px;
            line-height: 105px;
            border-radius: 100px;
            position: relative;
            label {
                color: #1880c3;
                font-size: 36px;
                float: left;
                margin-left: 50px;
            }
            input::-webkit-input-placeholder {
                color: #8fb9cb;
                font-size: 36px;
            }
            input {
                border: none;
                background: none;
                text-align: center;
                font-size: 36px;
                color: #1880c3;
                width: 100%;
                position: absolute;
                left: 0;
                text-align: center;
                background: none;
                height: 105px;
                line-height: 105px;
                text-align: center;
            }
            .icon-mima {
                background: url(../assets/mima.png);
                width: 60px;
                height: 60px;
                position: absolute;
                right: -120px;
                background-size: 100%;
                top: 21px;
            }
        }
    }
}

/*忘记密码*/

.forget-mima {
    .forget,
    .change {
        font-size: 36px;
        color: #fff;
        margin-top: 42px;
    }
    .forget {
        float: left;
        margin-left: 50px;
    }
    .change {
        float: right;
        margin-right: 50px;
    }
}

//
.inputs.public {
    height: 540px;
    padding-top: 170px;
    padding-bottom: 190px;
    .button-submit {
        margin-top: 176px;
    }
}

/*黄色 登陆按钮*/

.button-submit {
    .submit {
        width: 100%;
        height: 102px;
        line-height: 102px;
        background: #ff9e35;
        display: block;
        border-radius: 100px;
        color: #fff;
        font-size: 36px;
        text-align: center;
    }
}

.m-picker .m-picker-box {
    position: absolute;
    z-index: 100;
    bottom: 0;
    background: #fff;
    width: 100%;
    height: 900px;
}

.button-submit.blue-btn {
    .button {
        background: #3ba6dd;
    }
}

/*蓝色 确认激活*/

.button-jh {
    .jh {
        width: 100%;
        height: 102px;
        line-height: 102px;
        background: #249dcc;
        display: block;
        border-radius: 100px;
        color: #fff;
        font-size: 36px;
        text-align: center;
    }
}

/*蓝色 方按钮*/

.button-jh.fang {
    width: 500px;
    height: 96px;
    border-radius: 10px;
    .button {
        border-radius: 10px;
    }
}

.btn-yellow {
    background: #ff9e35 !important;
}

.blue-bg {
    position: relative;
}

/*弹窗 错误提示*/

.error-tips {
    width: 530px;
    height: 200px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -275px;
    margin-top: -65px;
    border-radius: 20px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    line-height: 200px;
}

/*弹出层背景*/

.popup_bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

/*表单 列表*/

.forms {
    li {
        position: relative;
        margin-top: 40px;
        label {
            font-size: 32px;
            color: #656565;
            height: 80px;
            line-height: 80px;
            width: 164px;
            text-align: right;
            display: block;
            float: left;
            margin-right: 20px;
        }
        input {
            height: 80px;
            border: none;
            border: 1px solid #dcdcdc;
            background-color: #f2f2f2;
            border-radius: 4px;
            padding: 0 10px;
            width: 560px;
        }
        .arrow {
            width: 72px;
            height: 48px;
            border-left: 1px solid #dcdcdc;
            position: absolute;
            right: 10px;
            top: 16px;
            background: url(../assets/arrow.png) no-repeat;
            background-size: 26px 16px;
            background-position: 24px 16px;
        }
    }
    li.time {
        p {
            float: left;
            width: 43px;
            height: 2px;
            background: url(../assets/zhi.png) no-repeat 100% 100%;
            margin-left: 18px;
            margin-right: 18px;
            margin-top: 38px;
        }
        input {
            width: 230px;
            float: left;
        }
    }
}

/*蓝色 保存按钮*/

.btn-save {
    width: 450px;
    height: 96px;
    background-color: #3ba6dd;
    color: #fff;
    font-size: 32px;
    text-align: center;
    line-height: 96px;
    display: block;
    border-radius: 10px;
}

/* 密码 睁眼 闭眼睛图标*/

.icon-zhengyan,
.icon-biyan {
    display: block;
    width: 42px;
    height: 32px;
    background: url(../assets/zhengyan.png) no-repeat 100% 100%;
    position: absolute;
    right: 36px;
    top: 32px;
    background-size: 100%;
}

.icon-biyan {
    background: url(../assets/biyan.png) no-repeat 100% 100%;
    background-size: 100%;
}

/*激活设备 设备验证*/

.shebei {
    .icon-jhsb-saoyisao {
        width: 60px;
        height: 60px;
        background: url(../assets/jhsb-saoyisao.png) no-repeat 100% 100%;
        display: block;
        background-size: 100%;
        float: right;
        margin-top: 48px;
        margin-right: 54px;
        margin-bottom: 168px;
    }
    .inputs {
        height: 402px;
        padding-top: 275px;
        padding-bottom: 224px;
        ul li input {
            text-align: left;
            padding-left: 50px;
            width: calc( 100% - 150px);
        }
    }
    .jh-tips {
        font-size: 36px;
        color: #fff;
        margin-top: 40px;
        margin-left: 50px;
        margin-bottom: 125px;
    }
}

/* 可以设置不同的进入和离开动画 */

/* 设置持续时间和动画函数 */

// .slide-fade-enter-active,
// .slide-fade-leave-active {
//     transition: all .3s ease;
// }
// // .slide-fade-leave-active {
// //     transition: all 0.3s ease-in-out;
// // }
// .slide-fade-enter,
// .slide-fade-leave-to
// /* .slide-fade-leave-active for below version 2.1.8 */
//     {
//     transform: translateX(10px);
//     opacity: 0;
// }
//首页左侧导航栏
.index-page {
    background: #f3f6fc;
    height: 100%;
    width: 100%;
}

.left-nav {
    width: 208px;
    height: 100%;
    background: #fff;
    box-shadow: 2px 3px 30px #efefef;
    float: left;
    position: relative;
    dl.head-img {
        dt {
            height: 80px;
            width: 80px;
            background-color: #666666;
            border-radius: 40px;
            margin: 0 auto;
            margin-top: 14px;
            margin-bottom: 28px;
            overflow: hidden;
            img {
                height: 80px;
                width: 80px;
            }
        }
        dd {
            color: #282828;
            font-size: 32px;
            font-weight: bold;
            text-align: center;
        }
    }
    ul {
        margin-top: 110px;
        li {
            color: #7a7a7a;
            font-size: 30px;
            margin-bottom: 130px;
            text-align: center;
            i.icon {
                display: block;
                width: 68px;
                height: 68px;
                margin: 0 auto;
                margin-bottom: 30px;
            }
        }
        li.active {
            color: #3ba6dd;
        }
        li.index {
            i {
                background: url(../assets/left-nav-index.png);
                background-size: 60px 60px;
                background-repeat: no-repeat;
                background-position: 4px 0;
            }
        }
        li.index.active {
            i {
                background: url(../assets/left-nav-index-active.png);
                background-size: 57px 68px;
                background-repeat: no-repeat;
                background-position: 5px 0;
            }
        }
        li.zhishiku {
            i {
                background: url(../assets/left-nav-zhishiku.png);
                background-size: 68px 57px;
                background-repeat: no-repeat;
                background-position: 0px 0;
            }
        }
        li.zhishiku.active {
            i {
                background: url(../assets/left-nav-zhishiku-active.png);
                background-size: 68px 57px;
                background-repeat: no-repeat;
                background-position: 0px 0;
            }
        }
        li.wode {
            i {
                background: url(../assets/left-nav-wode.png);
                background-size: 68px 68px;
                background-repeat: no-repeat;
                background-position: 0px 0;
            }
        }
        li.wode.active {
            i {
                background: url(../assets/left-nav-wode-active.png);
                background-size: 57px 68px;
                background-repeat: no-repeat;
                background-position: 5px 0;
            }
        }
    }
    .left-nav-logo {
        width: 123px;
        height: 152px;
        background: url(../assets/index-logo.png);
        background-size: 100%;
        margin: 0 auto;
        position: absolute;
        bottom: 35px;
        left: 50%;
        margin-left: -61px;
    }
}

.bg-color {
    background: #f5f5f5;
}

.dialog-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    >.dialog-body {
        width: 860px;
        text-align: center;
        height: 458px;
        background-color: #fff;
        border-radius: 10px;
        color: #282828;
        padding: 30px 58px;
        letter-spacing: 5px;
        >.dialog-btn {
            height: 84px;
            display: flex;
            justify-content: space-between;
            >button {
                width: 380px;
            }
        }
        >.dialog-c {
            white-space: pre-line;
            color: #cfcfcf;
            font-size: 38px;
            padding: 0px 25px;
            line-height: 60px;
        }
    }
} //首页右侧内容区域
.center-content {
    padding-left: 60px;
    padding-right: 5px;
    height: calc(100% - 118px);
    background-color: #f3f6fc;
    .total {
        padding-top: 62px;
        color: #989898;
        font-size: 36px;
        position: relative;
        margin-bottom: 30px;
        span {
            color: #282828;
        }
    }
    .icon-paixu,
    .icon-add {
        position: absolute;
        background-image: url(../assets/inde-paixu.png);
        background-repeat: no-repeat;
        width: 60px;
        height: 50px;
        background-size: 100%;
        position: absolute;
        right: 50px;
        top: 60px;
    }
    .icon-indexedit {
        background-image: url(../assets/indexEdit.png);
        background-repeat: no-repeat;
        position: absolute;
        background-size: 100%;
        height: 60px;
        width: 60px;
        top: 50px;
        right: 140px;
    }
    .icon-add {
        background-image: url(../assets/add2.png);
        height: 60px;
    }
    .icon-del {
        background-image: url(../assets/del.png);
        height: 54px;
        width: 55px;
    }
}

//首页右侧导航
.top-nav {
    height: 98px;
    background: #fff;
    padding-top: 20px;
    position: relative;
    .shatubiao {
        width: 59px;
        height: 57px;
        background-image: url(../assets/index-youshang.png);
        float: right;
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        right: 60px;
        top: 31px;
    }
}

.must {
    color: red;
   
}

.top-nav-search {
    height: 72px;
    width: 810px;
    border: 1px solid #e2e2e2;
    margin: 0 auto;
    border-radius: 50px;
    input {
        float: left;
        height: 72px;
        width: 550px;
        border: none;
        background: none;
        color: #989898;
        font-size: 30px;
        padding-left: 38px;
    }
    i.icon {
        float: left;
        display: block;
        width: 72px;
        height: 72px;
        background: url(../assets/index-erweima.png);
        background-size: 48px 48px;
        background-position: 12px 12px;
        background-repeat: no-repeat;
    }
    i.sousuo {
        float: right;
        width: 128px;
        height: 72px;
        background-color: #3ba6dd;
        border-radius: 70px;
        background-image: url(../assets/index-sousuo.png);
        background-size: 37px 37px;
        background-repeat: no-repeat;
        background-position: 45px 17px;
    }
}

.top-nav-search {
    background: #FFFFFF;
    width: 515px;
    margin-left: 55px;
    margin-top: -10px;
    input {
        width: 330px;
    }
}

.shadow {
    box-shadow: -1px 1px 30px #cacaca;
    border-radius: 15px;
}

.card_area {
    height: calc(100% - 150px);
    overflow-y: auto;
    ul.card {
        padding-top: 30px;
        >li {
            width: 392px;
            height: 474px;
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0px 0px 30px #c7d7ee;
            float: left;
            margin-right: 50px;
            margin-bottom: 50px;
            .bg {
                background-image: url(../assets/card-bg.png);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: 0px -1px;
                width: 100%;
                height: 244px;
                border-radius: 15px;
                margin-bottom: 34px;
            }
            ol.message {
                padding: 0 40px;
                padding-top: 55px;
                li {
                    font-size: 32px;
                    color: #fff;
                    float: left;
                }
                li.name {
                    width: 168px;
                    font-size: 36px;
                }
                li.sex {
                    margin-top: 4px;
                }
                li.age {
                    float: right;
                    margin-top: 4px;
                }
            }
            p.nums {
                padding: 0 40px;
                color: #fff;
                font-size: 32px;
                margin-top: 15px;
                margin-bottom: 10px; //box-shadow: 0px 0px 10px #4791c0;
            }
            ol.btns {
                padding: 0 40px;
                li {
                    height: 45px;
                    line-height: 45px;
                    background-color: #4db7e8;
                    border-radius: 40px;
                    width: 106px;
                    float: left;
                    color: #c5e4f6;
                    font-size: 28px;
                    text-align: center;
                    margin-right: 10px;
                }
            }
            button {
                width: 308px;
                height: 66px;
                border: 1px solid #ff8a00 !important;
                border-radius: 10px;
                background: #fff;
                margin-bottom: 20px;
                margin-left: 40px;
                font-size: 30px;
                color: #ff8a00;
            }
        }
        >li.status1 {
            .bg {
                height: 276px;
                margin-bottom: 0;
                background-image: none;
                background-image: -webkit-linear-gradient(90deg, #f5fafd, #2184c5);
            }
            ol.message {
                li.name {
                    width: auto;
                    margin-right: 25px;
                }
                li.sex {
                    width: 35px;
                    height: 35px;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    margin-top: 8px;
                }
                li.mail {
                    background-image: url(../assets/mail.png);
                }
                li.femail {
                    background-image: url(../assets/femail.png);
                }
            }
            button.btn1 {
                border: 1px solid #3ba6dd !important;
                color: #3ba6dd;
            }
            button.btn2 {
                border: 1px solid #e2e2e2 !important;
                color: #282828;
            }
        }
        >li.status2 {
            .bg {
                height: 276px;
                margin-bottom: 0;
                background-image: url(../assets/card-bg2.png);
                background-size: 392px 222px;
            }
            p.nums {
                margin-bottom: 32px;
            }
            ol.btns {
                padding: 0 40px;
                li {
                    background-color: #4db7e8;
                    width: 94px;
                    color: #c5e4f6;
                    font-size: 28px;
                    margin-right: 15px;
                }
                li.dao {
                    background-color: #1f87c8;
                }
                li.bian {
                    background-color: #ff9d12;
                    color: #fff;
                }
                li:last-child {
                    margin-right: 0;
                }
            }
        }
        >li.status3 {
            .bg {
                background-image: url(../assets/card-bg3.png);
            }
        }
        >li.status4 {
            .bg {
                background: none;
            }
            ol.message {
                li.name {
                    color: #282828;
                }
                li.age {
                    color: #282828;
                }
            }
            p.nums {
                color: #989898;
            }
            ol.btns {
                padding: 0 40px;
                li.bian {
                    background-color: #1f87c8;
                    color: #fff;
                }
            }
        }
        >li.status5 {
            background: none;
            box-shadow: none;
        }
    }
}